﻿@import "_base.scss";

// Product List Widgets.
.template-product-list{padding:10px;display:inline-block;
    .item{float:left;min-width:25%;text-align:center;}
} 

.default-template .product-list-widget .owl-theme .owl-controls{position:static;margin-bottom:10px;}
