﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities
@model CMSWidgetsViewModel
@{

    string code = Model.Code + Model.MappingKey;
    string mediaExtnsn = code.Contains("Image") ? AdminConstants.ImageExtensions : AdminConstants.VideoExtensions;
}

    <a id="@("img"+code)">
        <h3>@Model.DisplayName</h3>
        <img src="~/Content/Images/Widgets/@Model.FileName" alt="" class="img-responsive" />
        <div class="configure-option" data-test-selector="div@(Model.DisplayName.Replace(" ", ""))"><span onclick="EditableText.prototype.BrowseMedia('@code','False','True','True','Content.prototype.SaveMediaWidget','true')"><i class="z-global-setting"></i>@Admin_Resources.TextConfigure</span></div>
    </a>

<div class="control-md" style="display:none">

    <div class="upload-images" id="@("div"+code)">
        <img id="@code" data-test-selector="imgMedia" onclick="EditableText.prototype.BrowseMedia('@code','False','True','True','Content.prototype.SaveMediaWidget','true')" class="img-responsive" data-url="@Model.WidgetActionUrl">
        <span class="change-image" onclick="EditableText.prototype.BrowseMedia('@code','False','True','True','Content.prototype.SaveMediaWidget','true')">@Admin_Resources.LinkChange</span>
        <input type="hidden" id="@code" name="MediaId">
        <input type='hidden' value=@mediaExtnsn id="@("hdn"+code)" />
    </div>

</div>

<script>
    $(document).ready(function () {
        if (($('#hdnPreviewUrl').val() != "")) {
            $('#img'+'@code').attr('style','display:none');
        }
    })
</script>


